body {
  /* background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(37,37,159,1) 0%, rgba(73,200,226,1) 100%); */
  background: linear-gradient(to right, #0062E6, #33AEFF);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}